Repository tweag/nickel, pull requests merged in 2023-02, with the labels that each got.

#1088 Support completion for field names inside recursive records.
  lsp/nls/src/requests/completion.rs
Labels: type: feature request, area: lsp

#1109 Make value bindings point to their actual value instead of their annotated contract.
  lsp/nls/src/linearization/mod.rs
  lsp/nls/src/requests/completion.rs
Labels: type: bug, area: lsp

#1125 Fix new clippy warnings
  src/bin/nickel.rs
  src/cache.rs
  src/error.rs
  src/eval/merge.rs
  src/eval/mod.rs
  src/eval/operation.rs
  src/eval/stack.rs
  src/eval/tests.rs
  src/label.rs
  src/parser/lexer.rs
  src/parser/tests.rs
  src/pretty.rs
  src/program.rs
  src/repl/command.rs
  src/repl/mod.rs
  src/repl/query_print.rs
  src/repl/rustyline_frontend.rs
  src/serialize.rs
  src/term/mod.rs
  src/transform/desugar_destructuring.rs
  src/transform/mod.rs
  src/typecheck/mod.rs
  src/typecheck/reporting.rs
  src/types.rs
  tests/integration/contracts_fail.rs
  tests/integration/free_vars.rs
  tests/integration/imports.rs
  tests/integration/merge_fail.rs
  tests/integration/pretty.rs
  tests/snapshot/main.rs
Labels: merge-queue

#1127 Remove `MergePriority` from all LSP outputs
  lsp/nls/src/linearization/completed.rs
  lsp/nls/src/requests/completion.rs
Labels: area: lsp

#1086 [RFC005] Lazy propagation
  src/eval/fixpoint.rs
  src/eval/merge.rs
  src/eval/mod.rs
  src/eval/operation.rs
  src/parser/grammar.lalrpop
  src/parser/uniterm.rs
  src/parser/utils.rs
  src/pretty.rs
  src/repl/query_print.rs
  src/term/mod.rs
  src/term/record.rs
  src/transform/apply_contracts.rs
  src/transform/gen_pending_contracts.rs
  src/transform/mod.rs
  src/transform/share_normal_form.rs
  src/typecheck/operation.rs
  tests/integration/pass/lazy-propagation.ncl
  tests/integration/pass/serialize.ncl
Labels: merge-queue

#1143 [Fix] Fix query command in the REPL
  src/error.rs
  src/program.rs
  src/repl/command.rs
  src/repl/mod.rs
  src/repl/rustyline_frontend.rs
  src/repl/simple_frontend.rs
Labels: merge-queue
