Repository tweag/nickel, pull requests merged in 2023-01, with the labels that each got.

#1028 [Fix] Do not panic on type path mismatch
  src/error.rs
  src/label.rs
  src/typecheck/mod.rs
  tests/integration/contracts_fail.rs
  utilities/src/lib.rs
Labels: merge-queue

#1029 Improve the "goto definition" feature of the LSP by making it work across multiple files
  lsp/nls/src/linearization/building.rs
  lsp/nls/src/linearization/mod.rs
  lsp/nls/src/requests/goto.rs
  src/cache.rs
Labels: type: feature request, area: lsp

#1043 Fix LSP not giving completion when an identifier is prefixed by a delimiting character
  lsp/nls/src/requests/completion.rs
Labels: type: bug, area: lsp

#1057 Add support for LSP completion using the surrounding context
  lsp/nls/src/linearization/completed.rs
  lsp/nls/src/requests/completion.rs
  src/identifier.rs
  src/parser/grammar.lalrpop
Labels: type: feature request, area: lsp
